.input-section {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: azure;
}

.info-label {
    width: 100%;
    text-align: left;
}

.info-input {
    width: 90%;
    height: 35px;
    border-radius: 5px;
}

.info-textarea {
    width: 90%;
    border-radius: 5px;
    height: 300px;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.submit-btn {
    width: 100%;
}