.input-section {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: azure;
}

.info-label {
    width: 100%;
    text-align: left;
}

.info-input {
    width: 90%;
    height: 35px;
    border-radius: 5px;
}

.button {
    margin: 5px;
    width: 100%;
}

.categories-drop-down {
    width: 90%;
    height: 35px;
    border-radius: 5px;
}