@using WebShop.Models.WebShop;
@model ProductVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductPartial</title>
</head>
<body>
    <div style="background-color:azure; margin:5px;">
        <p>@Model.Name</p>
        <p>@Model.Description</p>
        <p><span>Cijena: </span>@Model.Price</p>
        <img style="height: 100px; width: 100px;" src="~/Content/products/@Model.ImageName" /><br />
        <a asp-controller="WebShop" asp-action="AddProductToCart" asp-route-productID="@Model.ProductID">Add to cart</a>
    </div>
    <hr />
</body>
</html>
