@using WebShop.Models.Home
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<PictureVM>
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Home/gallery.css" />

<h2>Galerija</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-2 picture-div">
            @Html.Partial("~/Views/Home/PicturePartial.cshtml", item)
        </div>
    }
</div>