@using WebShop.Models.Shared;
@model CartItemVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CartItemPartial</title>
</head>
<body>
    <div style="background-color:azure; margin:5px;">
        <p>@Model.ProductName</p>
        <p>Količina: @Model.Quantity</p>
        <p>Cijena proizvoda: @Model.PricePerItem kn</p>
        <p>Ukupno: @Model.TotalPrice kn</p>
        <img style="height: 100px; width: 100px;" src="~/Content/products/@Model.ImageName" /><br />
    </div>
    <hr />
</body>
</html>
