@using WebShop.Models.WebShop
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebShopVM
@{
    ViewData["Title"] = "Proizvodi";
}

<h2>Proizvodi</h2>

@Html.Partial("~/Views/WebShop/ShoppingCartPartial.cshtml")

<div class="row">
    @foreach (var item in Model.ProductsVM)
    {
        <div class="col-sm-6">
            @Html.Partial("~/Views/WebShop/ProductPartial.cshtml", item)
        </div>
    }
</div>

