@using WebShop.Models.WebShop
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebShopVM
@{
    ViewData["Title"] = "Proizvodi";
    Layout = "~/Views/WebShop/_Layout_WebShop.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/WebShop/index.css" asp-append-version="true" />
</head>

<div class="row">
    @foreach (var item in Model.ProductsVM)
    {
        <div class="col-sm-6">
            @Html.Partial("~/Views/WebShop/ProductPartial.cshtml", item)
        </div>
    }
</div>
@section Scripts {
    <script src="~/js/WebShop/index.js"></script>
}