@using WebShop.Models.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ShoppingCartVM
@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/WebShop/shoppingCart.css"/>
</head>

<h2>Vaša košarica</h2>
@if (Model.CartItemsVM.Count > 0)
{
    <div id="cart-details">
        <div class="row">
            <div class="col-sm-3 total-div">
                <label class="total-label">Ukupno: </label>
                <p class="total-par" id="total-price">@Model.TotalPrice kn</p>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-success button" asp-controller="NewOrder" asp-action="AddNewOrder">Naruči</a><br />
                <a class="btn btn-primary button" asp-action="Index">Dodaj još proizvoda u košaricu</a><br />
                <a class="btn btn-danger button" asp-action="EmptyTheShoppingCart">Isprazni košaricu</a><br />
            </div>
        </div>
        <hr />
    </div>

    <div class="row" id="cart-items-container">
        @foreach (var item in Model.CartItemsVM)
        {
            <div id="@item.CartItemID" class="col-sm-6 cart-item">
                @Html.Partial("~/Views/WebShop/CartItemPartial.cshtml", item)
            </div>
        }
    </div>
}
else
{
    <div>
        <p><b>Košarica je prazna!</b></p>
        <a class="btn btn-default" asp-action="Index"><span class="glyphicon glyphicon-arrow-left" style="margin-right: 5px;"></span>Povratak</a>
    </div>
}
<div id="cart-empty" hidden>
    <p><b>Košarica je prazna!</b></p>
    <a class="btn btn-default" asp-action="Index"><span class="glyphicon glyphicon-arrow-left" style="margin-right: 5px;"></span>Povratak</a>
</div>
@section Scripts {
    <script src="~/js/WebShop/shoppingCart.js"></script>
}
