@using WebShop.Models.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ShoppingCartVM
@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShoppingCart</h2>
@if (Model.CartItemsVM.Count > 0)
{
    <div id="cart-details">
        <label>Ukupno: </label><p id="total-price">@Model.TotalPrice kn</p>

        <div>
            <a asp-controller="NewOrder" asp-action="AddNewOrder">Naruči</a><br />
            <a asp-action="Index">Dodaj još proizvoda u košaricu</a>
        </div>
    </div>

    <div id="cart-items-container">
        @foreach (var item in Model.CartItemsVM)
        {
            <div id="@item.CartItemID" class="col-sm-6 cart-item">
                @Html.Partial("~/Views/WebShop/CartItemPartial.cshtml", item)
            </div>
        }
    </div>
}
else
{
    <div>
        <p><b>Košarica je prazna!</b></p>
        <a class="btn btn-default" asp-action="Index"><span class="glyphicon glyphicon-arrow-left" style="margin-right: 5px;"></span>Povratak</a>
    </div>
}
<div id="cart-empty" hidden>
    <p><b>Košarica je prazna!</b></p>
    <a class="btn btn-default" asp-action="Index"><span class="glyphicon glyphicon-arrow-left" style="margin-right: 5px;"></span>Povratak</a>
</div>
@section Scripts {
    <script src="~/js/WebShop/shoppingCart.js"></script>
}
