@using WebShop.Models.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ShoppingCartVM
@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShoppingCart</h2>
@if (Model.CartItemsVM.Count > 0)
{
    <label>Ukupno: </label><p>@Model.TotalPrice kn</p>

    <div>
        <a asp-controller="NewOrder" asp-action="AddNewOrder">Naruči</a>
    </div>

    @foreach (var item in Model.CartItemsVM)
    {
        <div class="col-sm-6">
            @Html.Partial("~/Views/WebShop/CartItemPartial.cshtml", item)
        </div>
    }
}
else
{
    <p><b>Košarica je prazna!</b></p>
}
<a asp-action="Index">Dodaj još proizvoda u košaricu</a>
