
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShoppingCartPartial</title>
</head>
<body>
    <div>
        <hr />
        <a class="btn btn-primary" asp-controller="WebShop" asp-action="ShoppingCart"><span class="glyphicon glyphicon-shopping-cart" style="margin-right: 5px;"></span>Shopping Cart</a>
        <hr />
    </div>
</body>
</html>
