
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Health</title>
</head>
<body>
    <ul>
        <li><a href="~/Home/Health">Zdravlje</a></li>
        <li><a href="~/Home/Health#0">Alergijski rinitis</a></li>
        <li><a href="~/Home/Health#1">Alzheimerova bolest (AB)</a></li>
        <li><a href="~/Home/Health#2">Aritmija</a></li>
        <li><a href="~/Home/Health#3">Astma</a></li>
        <li><a href="~/Home/Health#4">Bakterijske infekcije</a></li>
        <li><a href="~/Home/Health#5">Benigna prostatična hiperplazija</a></li>
        <li><a href="~/Home/Health#6">Demencija</a></li>
        <li><a href="~/Home/Health#7">Dijabetes</a></li>
        <li><a href="~/Home/Health#8">Erektilna disfunkcija</a></li>
        <li><a href="~/Home/Health#9">Gastritis</a></li>
        <li><a href="~/Home/Health#10">Hepatitis</a></li>
        <li><a href="~/Home/Health#11">HIV</a></li>
        <li><a href="~/Home/Health#12">Hipertenzija</a></li>
        <li><a href="~/Home/Health#13">Neplodnost</a></li>
        <li><a href="~/Home/Health#14">Inflamatory bowel disease (IBD)</a></li>
        <li><a href="~/Home/Health#15">Nesanica/Anksioznost</a></li>
        <li><a href="~/Home/Health#16">Oštećenje bubrega</a></li>
        <li><a href="~/Home/Health#17">Oštećenje jetre</a></li>
        <li><a href="~/Home/Health#18">Multipla skleroza</a></li>
        <li><a href="~/Home/Health#19">Oštećenje živaca</a></li>
        <li><a href="~/Home/Health#20">Parkinsonova bolest</a></li>
        <li><a href="~/Home/Health#21">Reumatoidni artritis</a></li>
        <li><a href="~/Home/Health#22">Rak mozga</a></li>
        <li><a href="~/Home/Health#23">Rak dojke</a></li>
        <li><a href="~/Home/Health#24">Rak debelog crijeva</a></li>
        <li><a href="~/Home/Health#25">Leukemija</a></li>
        <li><a href="~/Home/Health#26">Rak jetre</a></li>
        <li><a href="~/Home/Health#27">Rak pluća</a></li>
        <li><a href="~/Home/Health#28">Linfom</a></li>
        <li><a href="~/Home/Health#29">Rak prostate</a></li>
        <li><a href="~/Home/Health#30">Melanom</a></li>
    </ul>
    <a class="anchor" id="0"></a>
    <h1>Alergijski rinitis</h1>
    <a class="anchor" id="1"></a>
    <h1>Alzheimerova bolest (AB)</h1>
    <a class="anchor" id="2"></a>
    <h1>Aritmija</h1>
    <a class="anchor" id="3"></a>
    <h1>Astma</h1>
    <a class="anchor" id="4"></a>
    <h1>Bakterijske infekcije</h1>
    <a class="anchor" id="5"></a>
    <h1>Benigna prostatična hiperplazija</h1>
    <a class="anchor" id="6"></a>
    <h1>Demencija</h1>
    <a class="anchor" id="7"></a>
    <h1>Dijabetes</h1>
    <a class="anchor" id="8"></a>
    <h1>Erektilna disfunkcija</h1>
    <a class="anchor" id="9"></a>
    <h1>Gastritis</h1>
    <a class="anchor" id="10"></a>
    <h1>Hepatitis</h1>
    <a class="anchor" id="11"></a>
    <h1>HIV</h1>
    <a class="anchor" id="12"></a>
    <h1>Hipertenzija</h1>
    <a class="anchor" id="13"></a>
    <h1>Neplodnost</h1>
    <a class="anchor" id="14"></a>
    <h1>Inflamatory bowel disease (IBD)</h1>
    <a class="anchor" id="15"></a>
    <h1>Nesanica/Anksioznost</h1>
    <a class="anchor" id="16"></a>
    <h1>Oštećenje bubrega</h1>
    <a class="anchor" id="17"></a>
    <h1>Oštećenje jetre</h1>
    <a class="anchor" id="18"></a>
    <h1>Multipla skleroza</h1>
    <a class="anchor" id="19"></a>
    <h1>Oštećenje živaca</h1>
    <a class="anchor" id="20"></a>
    <h1>Parkinsonova bolest</h1>
    <a class="anchor" id="21"></a>
    <h1>Reumatoidni artritis</h1>
    <a class="anchor" id="22"></a>
    <h1>Rak mozga</h1>
    <a class="anchor" id="23"></a>
    <h1>Rak dojke</h1>
    <a class="anchor" id="24"></a>
    <h1>Rak debelog crijeva</h1>
    <a class="anchor" id="25"></a>
    <h1>Leukemija</h1>
    <a class="anchor" id="26"></a>
    <h1>Rak jetre</h1>
    <a class="anchor" id="27"></a>
    <h1>Rak pluća</h1>
    <a class="anchor" id="28"></a>
    <h1>Linfom</h1>
    <a class="anchor" id="29"></a>
    <h1>Rak prostate</h1>
    <a class="anchor" id="30"></a>
    <h1>Melanom</h1>
</body>
</html>
