@{
    ViewData["Title"] = "Uredi Trgovinu";
}

<h2>Uredi Trgovinu</h2>
<hr />
<div class="row">
    <div class="col-sm-4">
        <a class="btn btn-primary" asp-action="AddNewProduct">Dodaj Novi Proizvod</a><br />
    </div>
    <div class="col-sm-4">
        <a class="btn btn-primary" asp-action="AddNewPromoCode">Dodaj Novi Promo Kod</a><br />
    </div>
    <div class="col-sm-4">
        <a class="btn btn-primary" asp-action="AllOrders">Naruđbe</a><br />
    </div>
</div>



