@{
    ViewData["Title"] = "Uredi Trgovinu";
}

<head>
    <link rel="stylesheet" href="~/css/ManageWebPage/index.css" asp-append-version="true" />
</head>

<h2>Uredi Trgovinu</h2>
<hr />
<div class="row">
    <div class="col-sm-4">
        <a class="btn btn-primary manage-button" asp-action="AddNewProduct"><span class="glyphicon glyphicon-plus"></span> Dodaj Novi Proizvod</a><br />
        <a class="btn btn-primary manage-button" asp-action="PromoCodes"><span class="glyphicon glyphicon-barcode"></span> Promo Kodovi</a><br />
        <a class="btn btn-primary manage-button" asp-action="AllOrders"><span class="glyphicon glyphicon-shopping-cart"></span> Narudžbe</a><br />
        <a class="btn btn-primary manage-button" asp-action="AddPictureToGallery"><span class="glyphicon glyphicon-picture"></span> Dodaj Sliku U Galeriju</a><br />
        <button class="btn btn-primary manage-button" onclick="deleteCartsAndOrders()"><span class="glyphicon glyphicon-trash"></span> Obriši Nedovršene Narudžbe</button><br />
    </div>
</div>

@section Scripts {
    <script src="~/js/ManageWebPage/index.js"></script>
}

