
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p class="text">
        Ljekovite gljive već se tisućljećima koriste pri liječenju širokog spektra bolesti te za poboljšanje kvalitete života. Višegodišnje iskustvo obitelji Čaplinskij i zadovoljni kupci garancija su Vam da dobivate najbolje iz svijeta gljiva. Ako želite ojačati imunitet, nemate energije ili bolujete od neke bolesti, obratite nam se s povjerenjem.
    </p>
</body>
</html>
