
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LavljaGriva</title>
</head>
<body>
    <h1>Hericium erinaceus (Lavlja griva)</h1>
    <div class="row">
        <div class="col-sm-8">
            <p>Ova ukusna gljiva često se naziva „Hranom prirode za neurone“ obzirom da ima sposobnost stimulacije proizvodnje faktora živčanog rasta – FŽR (Eng.NGF – nerve growth factor). Upravo faktor živčanog rasta igra ključnu ulogu u razlikovanju i opstanku više staničnih populacija centralnog i perifernog živčanog sustava. Faktor rasta živaca (FŽR) niži od normalnog povezan je sa ranim stadijima Alzheimerove bolesti i demencije. Iako je terapeutski interes uglavnom usredotočen na važnost faktora rasta živaca (FŽR) vezano za njegovu neurološku funkciju, on igra puno složeniju ulogu u održavanju unutarnjeg balansa tijela. Poznat je po svojim inzulinološkim, anginološkim te antioksidativnim svojstvima, te je plazma sa smanjenim vrijednostima faktora rasta živaca povezana sa kardiovaskularnim bolestima i metaboličkim sindromima, što uključuje i dijabetes tipa 2. Dokazano je da ubrzava zacjeljenje rana te postoje dokazi da može biti koristan pri liječenju kožnih i očnih ulcera. Studije na životinjama pokazale su da FŽR ima ozbiljan utjecaj na upale dišnih puteva i simptome povezane s astmom. FŽR također ima dinamični odnos s imunološkim sistemom. Proizvodnja FŽR je povećana nakon ozljeda mozga, prisutna u molekulama oko jezgra, koje proizvode imunološke stanice. Istovremeno, imunološke stanice pokazuju receptore za FŽR, što je uključeno u imunološku modulaciju. Dva različita roda molekula nastaju iz Hericium erinaceus-a, te su prepoznate kao aktivne pri poticanju faktoru rasta živaca FŽR : Herikoni (eng. the hericones) izolirani iz micelija i Erinaciji (eng. The erinaces) izolirani iz tijela. Te molekule su dovoljno male da mogu proći kroz krvnu barijeru mozga. Također postoje dokazi da mogu povećati mijelin (eng.myelin) – supstancu koja sadrži masnoće koje čine zaštitini sloj oko živaca (osobito onih moždanih) te pomaže pri slanju signala. U Kini se micelij koristi za proizvodnju tableta Hericium erinaceus-a za liječenje gastritisa, ulcera, kroničnog gastritisa te želučanog raka.</p>
        </div>
        <div class="col-sm-4">
            <img src="~/Html/Products/hericiumprospekt.jpg" style="height: 340px; width: auto;" />
        </div>
    </div>
    <h1>Demencija</h1>
    <p>U kontroliranim studijama, Hericium erinaceus kao dodatak prehrani, pokazao je povoljan utjecaj na pacijente sa blagom demencijom. U jednoj studiji, 6 od 7 pacijenata pokazali su poboljšanje u kapacitetu funkcioniranja ( razumijevanje, komunikacija, pamćenje itd.) dok su svih 7 pokazali poboljšanja pri rezltatima „funkcionalne nezavisnosti“ (prehrana, oblačenje, šetnja itd), i to nakon konzumacije 5 grama Hericium erinaceus-a dodanog u juhu, na dnevnoj osnovi. U drugoj studiji, 30 pacijenata u dobi od 50 do 80 godina starosti sa blagom demencijom bili su raspodijeljeni u različite tretmanske i konrolne grupe. Hericium erinaceus bio je konzumiran u vidu tableta od 3 grama dnevno, u razdoblju od 16 tjedana te je pokazao značajne rezultate u području kognitivnih funkcija pacijenata. Unatoč tome, četiri tjedna nakon završetka tretmana, kognitivne funkcije pacijenata su opale, ukazujući na potrebu za kontinuiranim uzimanjem gljive.</p>
    <h1>Multipla skreloza</h1>
    <p>Ekstrakt plodnog dijela gljive (fruiting body extract) pokazao je poboljšanja procesa mijelinizacije kod pacijenata koji pate od Multiple skleroze. Faktor živčanog rasta (FŽR) pokazao je da ima zaštitno djelovanje, smanjujući upalne procese odgovorne za kronična oštećenja mozga te neurodegenerativne poremećaje kao što je MS, ( i to na način da prebacuje imunološku reakciju na anti-upalni režim).</p>
    <h1>Neuropatija</h1>
    <p>Faktor živčanog rasta igra ulogu u osjetljivosti na bol te njegove niske vrijednosti povezane su sa senzornom neuropatijom, što se pokazalo u „in vivo“ i „in vitro“ studijama. Pokusi na štakorima su pokazali da povećana proizvodnja faktora živčanog rasta poboljšava senzorne funkcije, dok se smanjenje FŽR pokazalo kao uzrok senzorne neuropatije. Kliničke studije pokazale su da FŽR ima povoljan utjecaj na pacijente sa dijebetskom polineuropatijom. Također, zabilježeno je da FŽR smanjuje bolove kod senzorne neuropatije povezane s HIV-om. S druge strane, sposobnost regeneracije senzornih neurona, mora se tek pokazati.</p>
    <h1>Oštećenje živaca</h1>
    <p>Pokusni štakori koji su primali ekstrakt gljive Hericium erinaceus, pokazali su brzi oporavak kod oštećenja živca, što upućuje na potencijalnu primjenu gljive u ranim stadijima oporavka živca.</p>
    <h1>MRSA (Zlatni stafilokok)</h1>
    <p>Ekstrakti micelija gljive te plodnog dijela tijela pokazali su anti-MRSA djelovanje. U kliničkim testovima provedenim u Japanu, zabilježeni su slučajevi MRSA-e, koja se povukla kod pacijenata čija prehrana je bila obogaćena gljivom Hericium erinaceus.</p>
    <h1>Gastritis</h1>
    <p>Jedna od tradicionalnih indikacija Hericium erinaceus, čini se da ima antibakterijsko djelovanje a vezano za Helicobacter pylori, poznat kao glavni uzrok kroničnog gastritisa.</p>
</body>
</html>
