
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Smrcak</title>
</head>
<body>
    <h1>Morchella esculenta (Smrčak)</h1>
    <div class="row">
        <div class="col-sm-8">
            <p>Jestiva gljiva (nakon vrenja).U Rusiji raste po bjelogoričnim, crnogoričnim i mješovitim šumama. Često se može naći u područjima šumskih požara, na opožarenim mjestima. Javlja se u rano proljeće. Novgorodski su arheolozi, vršeći iskapanja pod crkvicom sv. Panteleimona, pronašli svitke koji su ih zainteresirali. Na njima je bio prikazan manastirski ¨plan¨ sakupljanja ljekovitih gljiva i to smrčaka. Svitci su nazvani ¨gljivarskima¨, a sadržavali su upute kako i u slučaju kojih bolesti primijeniti te ljekovite gljive.</p>
            <p>Prekrasni smrčak ¨gljiva prvocvjetnica¨ koristi se u liječenju problema s vidom. Kod kratkovidnosti, dalekovidnosti i mrene. Doista, za stare ruse to je bila nasušna potreba-naočale još nisu bile izumljene, a s vidom je bilo problema i u tom davnom vremenu pa, na primjer, nadstojnik manastira ne samo da je sam pio nastoiku (pripravak) od smrčaka nego je to savjetovao i ostalim monasima.</p>
            <p>Danas se djelovanje smrčaka istražuje i ispostavlja se da je drevno znanje, na osnovu iskustva, bilo apsolutno točno. Otkrivena je tvar, koja ne samo da jača mišiće oka nego djeluje i na očnu leću ne dopuštajući joj da se zamuti. Smrčak sadrži polisaharide i oni su ti koji jačaju mišiće oka, sprečavaju zamućenje leće, mrenu i glaukom. Smrčak ima lactiferousno, detoksikacijsko i antibiotsko djelovanje, čisti krv i limfu.</p>
        </div>
        <div class="col-sm-4">
            <img src="~/Html/Products/smrcak_prospekt.jpg" style="height: 340px; width: auto;" />
        </div>
    </div>
    <h1>Glavni učinci</h1>
    <p>jača mišiće oka; sprečava razvoj mrene i odignuće mrežnice; popravlja apetit i rad probavnog trakta; čisti limfni i krvožilni sustav, poboljšava cirkulaciju, djeluje detoksikacijski i antibiotski; pridonosi stvaranju mlijeka u dojilja; pojačava aktivnost spolnih žlijezda</p>
</body>
</html>
