.button {
    width: 100%;
    margin: 5px;
}

.total-div {
    background-color: #81C784;
    margin: 5px;
    border-radius: 5px;
}

.total-label {
    margin: 10px;
    font-size: 18px;
}

.total-par {
    margin: 10px;
    padding-left: 5px;
    font-size: 18px;
}

.product-div {
    background-color: azure;
    margin: 5px;
    padding: 10px;
    box-shadow: 3px 6px 9px;
}

.name-par {
    font-size: 20px;
}

.quantity-div {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: gray;
}

.quantity-par {
    margin: 5px;
    font-size: 18px;
}

.product-img {
    height: 200px;
    width: 200px;
}